   * {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       font-family: Work Sans;
   }
   .header {
    background-image: url('../images/banner/banner1.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 809px;
    }
    .banner-text {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 525px;
    text-align: right;
    margin-right: 160px;
    padding-top: 200px;
    }
    
    .banner-title {
    color: #151414;
    font-size: 65px;
    font-weight: 700;
    margin-bottom: 24px;
    }
    
    .banner-description {
    width: 494px;   
    font-size: 16px;
    font-weight: 400;
    text-align: right;
    margin-left: 20px;
    /* text-justify:inter-cluster; */
    }
    .banner-btn{
        width: 160px;
        height: 60px;
        margin-top: 10px;
        margin-left: 365px;
        padding: 20px;
        font-size: 20px;
        border: none;
        border-radius: 5px;
        color: white;
        background: #F15B22;
    }
    .p1{
        margin-top: 0px;
        margin-left: 80px;   
    }
    .p2{
        margin-left: -175px;
    }
    .p3{
        margin-left: 80px;
    }
/* My failure section  */
.myfailure{
        display: flex;
        align-items: center;
        justify-content: space-around;
}
.failure-img{
    width: 451px;
    height: 898px;
} 
.f-title{
    width: 260px;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}
.f-des{
    width: 400px;
    height: 105px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height:26px; 
}
.ul-content{
    margin-left: 10px;
}
.list{
    margin-top: 10px;
    
}
.contarary{
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    margin-bottom: 20px;
    font-weight: 400;
    line-height: 26px;
}

/* myplans section  */
.myplan{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:20px 300px 20px 350px;
    padding: 20px;

}
.myplan-heading{
    margin-top: -20px;
    text-align: center;
    font-size: 40px;
    margin-bottom: 15px;
}
.myplans-img{
}
.myplan-title{
    width: 256px;
    height: 35px;
    text-align: center;
    font-family: Work Sans;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
}
.img1{
    margin-left: 70px;
}
.img2{
    margin-left: 78px;
}
.img3{
    margin-left: 70px;
}
.img4{
    margin-left: 70px;
}
.myplan-des{
    text-align: center;
    font-family: Work Sans;
    color: #737272;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
}
/* always section  */
.always{
    margin:80px 200px 80px 180px;
    width: 1000px;
    height: 300px;
    background-image:linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0.00) 100%), 
     url('../images/watch.png');
    border-radius: 8px;
}
.always-head{
    margin-left: 100px;
    padding-top: 60px;
    padding-left: 20px;
    color: white;
    font-family: Work Sans;
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;    
}  
.call-btn{
    margin-left: 120px;
    margin-top: 10px;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    background: #FFF;
    border: none;
    color: #F15B22;
    text-align: center;
    font-family: Work Sans;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
}

/* footer section  */
.footer-sec{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    width: 1350px;
    height: 350px;
    padding-left: 130px;
    
}
.future{
    width: 400px;
    
}
.future-head{
    color: #F8F8F8;
    font-family: Work Sans;
    font-size: 45px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 5px;
}
.future-des{
    color: #FFF;
    font-family: Work Sans;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
}
.email{
    color: #FFF;
font-family: Work Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.subscribe{
    width: 400px;
    margin-top: -60px;
}
.sub-head{
    color: #FFF;
    font-family: Work Sans;
    font-size: 25px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.input{
    width:260px;
    height: 45px;
    padding: 10px;
    background-color:black;
    color: white;
    border-radius: 8px;
    font-family: Work Sans;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 10px;
}
.subscribe-btn{
    width: 150px;
    height: 40px;
    padding: 10px 10px 10px 10px;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    color: #F15B22;
    background: white;
    margin-top: 10px;
}